<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/Design_Token/Styles/_variables.css">
        <link rel="stylesheet" href="/Design_Token/Styles/TEMPORAL.css">
        <link rel="stylesheet" href="/Design_Token/Styles/_size.css">
        <link rel="stylesheet" href="/Design_Token/Styles/_buttons.css">
        <link rel="stylesheet" href="/Design_Token/Styles/_containers.css">
    </head>
    <body>
        <div class="container-center sw-70 flex-align">
            <div>
                <h2>Primary</h2>
                <button class="btn-primary s-sm">Primary small</button>
                <br><br>
                <button class="btn-primary s-md">Primary medium</button>
                <br><br>
                <button class="btn-primary btn-arrow s-md">Primary arrow</button>
                <br><br>
                <button class="btn-primary s-md" disabled>Primary disable</button>
            </div>
            <div>
                <h2>Secondary</h2>
                <button class="btn-secondary s-sm">Secondary small</button>
                <br><br>
                <button class="btn-secondary s-md">Secondary medium</button>
                <br><br>
                <button class="btn-secondary btn-arrow-light s-md">Secondary arrow</button>
                <br><br>
                <button class="btn-secondary s-md" disabled>Secondary disable</button>
            </div>
            <div>
                <h2>Tertiary</h2>
                <button class="btn-tertiary s-sm">Tertiary small</button>
                <br><br>
                <button class="btn-tertiary s-md">Tertiary medium</button>
                <br><br>
                <button class="btn-tertiary btn-arrow-light s-md">Tertiary arrow</button>
                <br><br>
                <button class="btn-tertiary s-md" disabled>Tertiary disable</button>
            </div>
            <div>
                <h2>Link</h2>
                <button class="btn-link s-sm">Link small</button>
                <br><br>
                <button class="btn-link s-md">Link medium</button>
                <br><br>
                <button class="btn-link btn-arrow-light s-md">Link arrow</button>
                <br><br>
                <button class="btn-link s-md" disabled>Link disable</button>
            </div>
        </div>
    </body>
</html>