/*Diseño básico de botón*/
.btn-primary, .btn-secondary, .btn-tertiary, .btn-link, .btn-primary-arrow{
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px ;
    border: none;
    min-width: 56px;
    line-height: 20px;
    cursor: pointer;
}

/*Estilo de botones*/
.btn-primary {
    background-color: var(--brand-colors-primary-20);
    color: var(--backgrounds-light);
}

.btn-secondary{
    background-color: transparent;
    color: var(--brand-colors-primary-20);
    fill: var(--brand-colors-primary-20) !important;
    border-style:solid; 
    border-radius: var(--radius-small-radius, 8px);
    border: 1.5px solid var(--color-neutral-20, #CDCDCD);
}

.btn-tertiary {
    color: var(--brand-color-primario-50, #004F97);
    line-height: 20px;
}

.btn-link {
    color: var(--color-text-btn-resalte, #0170CC);
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
}

/*Botones con flecha*/
.btn-arrow {
    background-image: url("../Icons/arrow-1.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position-x: 10px ;
    background-position-y: center ;
}

.btn-arrow-light {
    background-image: url("../Icons/arrow-2.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position-x: 10px  ;
    background-position-y: center ;
}

/*Estilo de Hover*/

.btn-primary:hover:enabled{
    border-radius: var(--radius-small-radius, 8px);
    background-color: var(--color-background-btn-primary-hover, #0063B6);
    box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.20);
}

.btn-secondary:hover:enabled{
    border-radius: var(--radius-small-radius, 8px);
    border: 1.5px solid var(--brand-color-secundario-50, #0170CC);
    background-color: var(--brand-color-secundario-10, #EBF4FB);
}

.btn-tertiary:hover:enabled{
    color: var(--color-text-btn-resalte, #0170CC);
}

.btn-link:hover:enabled{
    color: var(--brand-colors-secundario-color-secundario-oscuro-50, #058);
}

/*Estilo de Disabled*/

.btn-primary:disabled{
    color: var(--color-neutral-20, #CDCDCD);
    border-radius: var(--radius-small-radius, 8px);
    background-color: var(--color-background-btn-primary-disabled, #E1E1E1);
    cursor:default;
}

.btn-secondary:disabled{
    color: var(--color-neutral-20, #CDCDCD);
    border-radius: var(--radius-small-radius, 8px);
    cursor:default;
}

.btn-tertiary:disabled{
    color: var(--color-neutral-20, #CDCDCD);
    cursor:default;
}

.btn-link:disabled{
    color: var(--color-neutral-20, #CDCDCD);
    cursor:default;
}
